WebContent/wsdl/updateCatalog.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/updateCatalog/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="updateCatalog" targetNamespace="http://www.example.org/updateCatalog/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/updateCatalog/">
      <xsd:element name="updateRequest" type="tns:updateRequest_t"/>
      <xsd:complexType name="updateRequest_t">
          <xsd:sequence>
            <xsd:element name="authentication" type="tns:authentication_t" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="listOfProducts" type="tns:listOfProducts_t" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
       </xsd:complexType>
      <xsd:element name="authentication" type="tns:authentication_t"/>
      <xsd:complexType name="authentication_t">
          <xsd:sequence>
            <xsd:element name="wholesalerName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="wsUsername" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="wsPassword" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listOfProducts" type="tns:listOfProducts_t"/>
      <xsd:complexType name="listOfProducts_t">
      		<xsd:sequence>
      			<xsd:element name="supplierProduct" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      <xsd:element name="supplierProduct" type="tns:supplierProduct_t"/>
      <xsd:complexType name="supplierProduct_t">
      		<xsd:sequence>
      			<xsd:element name="supplierAID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      			<xsd:element name="shortDescription" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      			<xsd:element name="longDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      			<xsd:element name="price" type="tns:price_t" minOccurs="0" maxOccurs="unbounded"/>
      		</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="price" type="tns:price_t"/>
      <xsd:complexType name="price_t">
      		<xsd:sequence>
      			<xsd:element name="amount" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
      			<xsd:element name="currency" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      			<xsd:element name="tax" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
      			<xsd:element name="pricetype" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      			<xsd:element name="countryISOCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      			<xsd:element name="lowerbound" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
      		</xsd:sequence>
      	</xsd:complexType>
      <xsd:element name="updateFault" type="tns:updateFault_t"/>
      <xsd:complexType name="updateFault_t">
	        <xsd:choice>
	        	<xsd:element name="authentivationFault" type="xsd:string"/>
	        	<xsd:element name="processingFault" type="xsd:string"/>
	        </xsd:choice>
        </xsd:complexType>
      <xsd:element name="updateResponse" type="tns:updateResponse_t"/>
      <xsd:complexType name="updateResponse_t">
          <xsd:sequence>
            <xsd:element name="updateDate" type="xsd:date" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="listOfModifiedProducts" type="tns:listOfModifiedProducts_t" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="listOfUnavailableProducts" type="tns:listOfUnavailableProducts_t" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      <xsd:element name="listOfModifiedProducts" type="tns:listOfModifiedProducts_t"/>
      <xsd:complexType name="listOfModifiedProducts_t">
      		<xsd:sequence>
      			<xsd:element name="supplierProduct" type="tns:supplierProduct_t" minOccurs="0" maxOccurs="unbounded"/>
      		</xsd:sequence>
      	</xsd:complexType>
      <xsd:element name="listOfUnavailableProducts" type="tns:listOfUnavailableProducts_t"/>
      <xsd:complexType name="listOfUnavailableProducts_t">
      		<xsd:sequence>
      			<xsd:element name="supplierProduct" type="tns:supplierProduct_t" minOccurs="0" maxOccurs="unbounded"/>
      		</xsd:sequence>
      	</xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateCatalog_Request">
    <wsdl:part element="tns:updateRequest" name="request"/>
  </wsdl:message>
   <wsdl:message name="updateCatalog_Response">
    <wsdl:part element="tns:updateResponse" name="response"/>
  </wsdl:message>
    <wsdl:message name="updateCatalog_Fault">
    <wsdl:part element="tns:updateFault" name="fault"/>
  </wsdl:message>
  <wsdl:portType name="updateCatalog_Port">
    <wsdl:operation name="updateCatalog">
      <wsdl:input message="tns:updateCatalog_Request"/>
      <wsdl:output message="tns:updateCatalog_Response"/>
      <wsdl:fault name="faults" message="tns:updateCatalog_Fault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="updateCatalog_SOAP" type="tns:updateCatalog_Port">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateCatalog">
      <soap:operation soapAction="http://www.example.org/updateCatalog/updateCatalog"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faults">
      	<soap:fault name="faults" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="updateProduct_WebService">
    <wsdl:port binding="tns:updateCatalog_SOAP" name="updateProduct_SOAP">
      <soap:address location="http://ServiceProvider/ServiceLocation/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
